<section class="loginPage">
    <div class="contextBx">
        <div  class="formBx">
        <h2 class="title">Connexion</h2>
        <form [formGroup]="loginForm">
            <div  class="text_field">
                <input type="email" name="email"  required formControlName="email">
                <span></span>
                <label>E-mail</label>
            </div>
            <div class="text_field">
                <input type="password" name="password" required formControlName="password">
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Se connecter">
            <div class="signup_link">
                Pas encore de compte ?
                 <a  routerLink="/signup">S'inscrire</a>
            </div>
        </form>
    </div >
        <div class="ouDiv">
            <hr>
            <h3>Ou</h3>
            <hr>
        </div>
        <button class="google"><img src="..\assets\images\google.png">
            Continue avec Google</button>

    </div>
    <a class="imgBx" routerLink="">
     <!--  <img src="..\assets\images\logo5.png" alt="Logo Instanim">  -->
      </a>
      
    
</section>

